
.wrapper {
    width: 100%;
    position: relative;
    height: 200px;
    .mainContent {
        min-width: 1001px;
        margin: 40px 30px;
        .rightContent {
            padding: 0 30px;
            width: 700px;
            float: left;
        }
    }
}
